body{
       background-image: url(https://plus.unsplash.com/premium_photo-1674048381806-814bb2126f73?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d2hpdGUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(43, 202, 202);
    padding: 20px;
    border-radius: 15px;
    border: 5px solid #000000;
    display: grid;
}
.hero-image {
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box {
    background-color: #9d8686;
    border: 3px solid #000000;
    padding: 15px;
    margin-bottom: 0px;
    text-align: top;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}